* {
  margin: 0;
  padding: 0;
}

.btn {
  height: 30px;
  width: 100px;
  font-size: 20px;
  color: white;
  text-shadow: 0 0 2px #000;
  box-shadow: black 0 0 2px;
  background-color: rgb(216, 95, 95);
  border: white 2px solid;
  border-radius: 10px;
}

body {
  font-family: sans-serif;
  color: white;
  font-size: 20px;
}

.error{
    color: black;
    width: 80%;
    text-align: center;
    margin: auto;
}

.container {
  margin: 0 auto;
  max-width: 1200px;
}

.cart {
  background-color: rgb(166, 178, 248);
  text-align: center;
  padding-bottom: 10px;
}

.cart-block {
  margin: 25px;
  background-color: #fff;
  color: black;
}

button:active,
button:focus {
  outline: none;
}

.search-form{
  display: flex;
  margin: 10px 50px;
}

.search-field{
  flex-grow: 1;
  border: none;
  box-shadow: gray 0 0 5px;
  height: 30px;
}

.btn-search{
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  height: 30px;
}

.cart-item {
  display: flex;
  justify-content: space-between;
  border: 1px solid rgb(166, 178, 248);
}

.product-bio {
  display: flex;
}

.product-desc {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.product-title {
  font-size: 16px;
}

.product-quantity {
  font-size: 14px;
}

.product-single-price {
  font-size: 12px;
}

.right-block {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-end;
  padding-right: 10px;
}

.del-btn {
  border: 1px solid black;
  width: 20px;
  height: 20px;
  font-size: 16px;
}


.products {
  background-color: rgb(197, 204, 243);
   text-shadow: 0 0 3px #000;

}

.products-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.product-item {
  display: flex;
  flex-direction: column;
  width: max-content;
  /* border: 1px solid black; */
  padding: 10px;
}